*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1046.cur), auto;
}

html, body{
    height: 100%;
    width: 100%;
}