.main{
    height: 100vh;
    background-color: rgb(48, 99, 142);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50vw;
}

.buttons{
    margin-top: 10%;
    display: flex;
    gap: 10%;
}

.button{
    width:15vw;
    height: 9vh;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(48, 99, 142);
    cursor: pointer;
    border: none;
}

.button:hover{
    /* glow around the button with transition */
    box-shadow: 0 0 40px rgb(255, 255, 255);
    transition: box-shadow 0.4s ease-in-out;
}

.knowMore{
    position: absolute;
    bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.485);
    justify-content: center;
    align-items: center;
    padding: 0.4%;
    border-radius: 40px;
    width: 10vw;
    color: white;
    cursor: pointer;
}

.about{
    background-color: black;
    height: 100vh;
}

.txt{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    padding-top: 7%;
}

.quote{
    width: 25vw;
    font-size: 23px;
}

.master{
    font-size: 72px;
    font-family: sans-serif;
    color: rgb(237, 174, 73);
}