.main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(48, 99, 142);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50vw;
}

.buttons{
    margin-top: 10%;
}