@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.main{
    height: 100vh;
    background-color: rgb(48, 99, 142);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50vw;
}

.buttons{
    margin-top: 10%;
    display: flex;
    gap: 10%;
}

.button{
    width:15vw;
    height: 9vh;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(48, 99, 142);
    cursor: pointer;
    border: none;
}

.button:hover{
    /* glow around the button with transition */
    box-shadow: 0 0 40px rgb(255, 255, 255);
    transition: box-shadow 0.4s ease-in-out;
}

.knowMore{
    position: absolute;
    bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.485);
    justify-content: center;
    align-items: center;
    padding: 0.4%;
    border-radius: 40px;
    width: 10vw;
    color: white;
    cursor: pointer;
}

.about{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 23vh;
}

.txt{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    padding-top: 7%;
    align-content: center;
}

.quote{
    width: 25vw;
    font-size: 1.3vw;
}

.master{
    font-size: 72px;
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(237, 174, 73);
}
.aboutTile{
    color: white;
    background-color: rgba(64, 64, 64, 0.777);
    width: 15vw;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(6px);
    gap: 3vh;
    border-radius: 20px;
    position: relative;
}

.tilt{
    border-radius: 20px;
}
.head{
    font-size: 2.5vw;
}

.desc{
    font-size: 1vw;
}

.features{
    display: flex;
    justify-content: space-around;
}

.footer{
    height: 4vh;
    margin-top: -4vh;
    background: rgba(0, 0, 0, 0.89);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2vw;
}