.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* gradient at 45 degrees in background */
    background: linear-gradient(-45deg, #09ff00, #ff0000);
}

.signup>form>h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #000;
}

.signup>form>h4{
    font-size: 1.5rem;
    /* margin-bottom: 2rem; */
    color: #000;
}

.signup>form{
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60%;
    background-color: #ffffff91;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.signup>form>input{
    width: 80%;
    height: 10%;
    margin-bottom: 1rem;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.signup>form>button{
    width: 80%;
    height: 10%;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.signup>form>button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.signup>form>label{
    font-size: 1.2rem;
    /* margin-bottom: 1rem; */
    color: #000;
}

#email{
    margin-top: 1.5rem;
}