.dashboard{
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 3vh;
}

.buttons{
    display: flex;
    gap: 2vw;
}

.buttons>button{
    height: 5vh;
    width: 7vw;
    border-radius: 10px;
    background-color:rgb(48, 99, 142) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}

.buttons>button:hover{
    background-color: rgb(48, 99, 142, 0.8);
}

.dashboard>h1{
    font-size: 3rem;
    color: rgb(48, 99, 142);
    margin-top: 5vh;
}

.dashboard>h4{
    font-size: 2rem;
    /* color: rgb(48, 99, 142); */
}

.dashboard>Table{
    background-color: black;
    color: white;
    border-radius: 10px;
}